.critical {
  width: auto;
  height: auto; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNyaXRpY2FsQ1NTLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxZQUFXO0VBQ1gsYUFBWSxFQUNiIiwiZmlsZSI6ImNyaXRpY2FsQ1NTLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jcml0aWNhbCB7XG4gIHdpZHRoOiBhdXRvO1xuICBoZWlnaHQ6IGF1dG87XG59Il0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
