meta(charset='UTF-8')
title Website name
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='Personal Website')
meta(name='author', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property="og:url" content="http://website-name.com/")
meta(property="og:type" content="website")
meta(property="og:title" content="Website name")
meta(property="og:description" content="Your description")
meta(property="og:image" content="https://www.your-domain.com/path/image.jpg")
link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
link(rel='apple-touch-icon', href='images/favicon.ico')
style
// build:css css/styles.min.css
link(rel='stylesheet', type='text/css', href='css/styles.css')
// endbuild
