/* NSW PREMIER AND CABINET - css for the components in the ckeditor
   Created by: Na Tran
   Date: Jan 16, 2019
*/


$ck-component-spacing: rem(16px);

%ckeditor {
  *:first-child {
    margin-top: 0;
  }
  p {
    line-height: 1.5;
  }
  p,
  ol,
  ul {
    margin-top: $ck-component-spacing;
  }
  ol {
    @include ol-prph;
  }
  ul {
    @include ul-prph;
  }
  blockquote {
    line-height: 1.5;
    margin-top: $ck-component-spacing;
    margin-bottom: 0;
    &:before,
    &:after {
      content: " “ ";
    }
  }
}

.ckeditor {
  @extend %ckeditor;
}