/* NSW PREMIER AND CABINET - css fonts
   Created by: Na Tran
   Date: Jan 16, 2019
*/


@font-face {
  font-family: 'helvetica-neue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
  url('../fonts/HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue';
  src: url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
  url('../fonts/HelveticaNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

