/* NSW PREMIER AND CABINET - css globals
   Created by: Na Tran
   Date: Jan 16, 2019
*/

* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

body {
  font-family: $font-default;
  font-size: $font-size-m;
  font-weight: $font-weight-default;
  color: $color-default;
  line-height: 1.25;
  position: relative;
  @include max-m {
    font-size: $font-size-m-mob;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

strong,
b {
  font-weight: $font-weight-bold;
}

img {
  width: 100%;
  height: auto;
}

%container {
  width: 100%;
  max-width: $width-page + 2 * $gutter;
  padding: 0 $gutter;
  margin: 0 auto;
}
.container {
  @extend %container;
}

%heading1 {
  line-height: 1.2;
  font-size: $font-size-xxl;
  @include max-m {
    font-size: $font-size-xxl-mob;
  }
}
h1 {
  @extend %heading1;
}

%heading2 {
  font-size: $font-size-xl;
  line-height: 1.2;
  @include max-m {
    font-size: $font-size-xl-mob;
  }
}
h2 {
  @extend %heading2;
}

%heading3 {
  font-size: $font-size-l;
  line-height: 1.35;
  @include max-m {
    font-size: $font-size-l-mob;
  }
}
h3 {
  @extend %heading3;
}

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: $font-weight-bold;
  border-radius: $radius;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
%button-primary {
  @include button;
  height: rem(34px);
  border: rem(1px) solid $color-grey-97;
  color: $color-grey-97;
  border-radius: $radius;
  padding: rem(0 12px);
  &:hover {
    background: $color-grey-97;
    color: $color-white;
  }
}
.button {
  @extend %button-primary;
}

%button-secondary {
  @include button;
  height: rem(44px);
  border: rem(1px) solid $color-grey-97;
  background: $color-grey-38;
  color: $color-white;
  padding: rem(0 12px);
  &:hover {
    color: $color-grey-38;
    background: $color-white;
  }
}
.button-secondary {
  @extend %button-secondary;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $transition;
  &:hover {
    text-decoration: underline;
  }
}


