/* NSW PREMIER AND CABINET - css for icon-moons
   Created by: Na Tran
   Date: Jan 16, 2019
*/

@font-face {
  font-family: 'icomoon';
  src:  url($link-font-icon + 'icomoon.eot?bpkoqp');
  src:  url($link-font-icon + 'icomoon.eot?bpkoqp#iefix') format('embedded-opentype'),
    url($link-font-icon + 'icomoon.ttf?bpkoqp') format('truetype'),
    url($link-font-icon + 'icomoon.woff?bpkoqp') format('woff'),
    url($link-font-icon + 'icomoon.svg?bpkoqp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"],
%icon-moon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
  content: "\e907";
}
.icon-refresh:before {
  content: "\e905";
}
.icon-x:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up2:before {
  content: "\e901";
}
.icon-columns:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-information:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e908";
}
.icon-ticked:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90b";
}

