/* NSW PREMIER AND CABINET - css mixins
   Created by: Na Tran
   Date: Jan 16, 2019
*/

$dot: 1px;

//min for horizontal mobile
@mixin min-s {
  @media (min-width: #{$break-s}) {
    @content;
  }
}

//min for vertical tablet
@mixin min-sm {
  @media (min-width: #{$break-sm}) {
    @content;
  }
}

//min for horizontal tablet
@mixin min-m {
  @media (min-width: #{$break-m}) {
    @content;
  }
}

//min for desktop
@mixin min-l {
  @media (min-width: #{$break-l}) {
    @content;
  }
}

//max for horizontal tablet
@mixin max-l {
  @media (max-width: #{$break-l - $dot}) {
    @content;
  }
}

// max for vertical tablet
@mixin max-m {
  @media (max-width: #{$break-m - $dot}) {
    @content;
  }
}

// max for horizontal mobile
@mixin max-sm {
  @media (max-width: #{$break-sm - $dot}) {
    @content;
  }
}

//max for vertical mobile
@mixin max-s {
  @media (max-width: #{$break-s - $dot}) {
    @content;
  }
}

//max for custom break-point
@mixin max-custom-breakpoint($custom-breakpoint) {
  @media (max-width: #{$custom-breakpoint - $dot}) {
    @content;
  }
}

//min for custom break-point
@mixin min-custom-breakpoint($custom-breakpoint) {
  @media (min-width: #{$custom-breakpoint}) {
    @content;
  }
}

//min & max for custom break-point
@mixin min-max-custom-breakpoint($custom-breakpoint-min, $custom-breakpoint-max) {
  @media (min-width: #{$custom-breakpoint-min}) and (max-width: #{$custom-breakpoint-max}) {
    @content;
  }
}

@mixin background-image() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin ol-prph {
  counter-reset: section;
  li {
    padding-left: rem(25px);
    margin-bottom: rem(15px);
    position: relative;
    &:before {
      counter-increment: section;
      content: counter(section) ". ";
      color: inherit;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

@mixin ul-prph {
  counter-reset: section;
  li {
    padding-left: rem(25px);
    margin-bottom: rem(15px);
    position: relative;
    &:before {
      content: '';
      color: inherit;
      position: absolute;
      left: 0;
      top: rem(6px);
      width: rem(5px);
      height: rem(5px);
      border-radius: 50%;
      background: $color-default;
    }
  }
}

@mixin listing-items(
  $wide-items-number,
  $wide-items-hspacing,
  $wide-items-vspacing,
  $medium-items-number,
  $medium-items-hspacing,
  $medium-items-vspacing,
  $small-items-number,
  $small-items-hspacing,
  $small-items-vspacing
) {
  display: flex;
  flex-wrap: wrap;

  @if $wide-items-number == 1 {
    width: 100%;
    margin: rem(-#{$wide-items-vspacing/2} 0 -#{$wide-items-vspacing/2});
  } @else {
    width: calc(100% + #{$wide-items-hspacing});
    margin: rem(-#{$wide-items-vspacing/2} 0 -#{$wide-items-vspacing/2} -#{$wide-items-hspacing/2});
  }

  @include max-m {
    @if $medium-items-number == 1 {
      width: 100%;
      margin: rem(-#{$medium-items-vspacing/2} 0 -#{$medium-items-vspacing/2});
    } @else {
      width: calc(100% + #{$medium-items-hspacing});
      margin: rem(-#{$medium-items-vspacing/2} 0 -#{$medium-items-vspacing/2} -#{$medium-items-hspacing/2});
    }
  }

  @include max-s {
    @if $small-items-number == 1 {
      width: 100%;
      margin: rem(-#{$small-items-vspacing/2} 0 -#{$small-items-vspacing/2});
    } @else {
      width: calc(100% + #{$small-items-hspacing});
      margin: rem(-#{$small-items-vspacing/2} 0 -#{$small-items-vspacing/2} -#{$small-items-hspacing/2});
    }
  }

  .item {
    @if $wide-items-number == 1 {
      width: 100%;
      margin: rem(#{$wide-items-vspacing/2} 0);
    } @else {
      width: calc((100% - 1px) / #{$wide-items-number} - #{$wide-items-hspacing});
      margin: rem(#{$wide-items-vspacing/2} #{$wide-items-hspacing/2});
    }

    @include max-m {
      @if $medium-items-number == 1 {
        width: 100%;
        margin: rem(#{$medium-items-vspacing/2} 0);
      } @else {
        width: calc((100% - 1px) / #{$medium-items-number} - #{$medium-items-hspacing});
        margin: rem(#{$medium-items-vspacing/2} #{$medium-items-hspacing/2});
      }
    }

    @include max-s {
      @if $small-items-number == 1 {
        width: 100%;
        margin: rem(#{$small-items-vspacing/2} 0);
      } @else {
        width: calc((100% - 1px) / #{$small-items-number} - #{$small-items-hspacing});
        margin: rem(#{$small-items-vspacing/2} #{$small-items-hspacing/2});
      }
    }

  }
}

