/* NSW PREMIER AND CABINET - css variables
   Created by: Na Tran
   Date: Jan 16, 2019
*/

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color-white:                   #FFF;
$color-black:                   #000;
$color-dark:                    #333132;
$color-dark-22:                 #222222;

$color-grey:                    #EDEDED;
$color-grey-b5:                 #B5B5B5;
$color-grey-97:                 #979797;
$color-grey-d8:                 #D8D8D8;
$color-grey-38:                 #383838;
$color-grey-b6:                 #B6B6B6;
$color-default:                 #06141E;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-default:                  'helvetica-neue', helvetica, sans-serif;

$link-font-icon:                '../fonts/icon-moon/';
$font-icon-moon:                'icomoon';


/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-regular:           400;
$font-weight-bold:              700;
$font-weight-default:           $font-weight-regular;


/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-s:                   rem(14px);
$font-size-s-mob:               rem(12px);
$font-size-m:                   rem(16px);
$font-size-m-mob:               rem(14px);
$font-size-l:                   rem(21px);
$font-size-l-mob:               rem(18px);
$font-size-xl:                  rem(28px);
$font-size-xl-mob:              rem(21px);
$font-size-xxl:                  rem(40px);
$font-size-xxl-mob:              rem(28px);


/* Width page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$width-page:                    rem(940px);


/* Breakpoint
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$break-l:                       1025px;
$break-m:                       993px;
$break-sm:                      768px;
$break-s:                       480px;


/* Gutter
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$gutter:                        rem(15px);


/* Spacer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$spacer-section: rem(80px);
$spacer-section-mob: rem(50px);


/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1:                        cubic-bezier(0.4, 0, 0.2, 1);
$transition:                    all 0.3s $cubic1;


/* Other
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$radius:                        rem(6px);