extends layout/_layout
block content
  include ./components/_header.pug
  br
  br
  main
    | These are global components:
    br
    br
    h1 This is heading 1
    br
    h2 This is heading 2
    br
    h3 This is heading 3
    br
    br
    a(href="#", class="button") Primary button
    br
    br
    a(href="#", class="button-secondary") Secondary button
    br
    br
    a(href="#") This is a link
    br
    br
    .ckeditor
      p These are components of ckeditor:
      p This is paragrap in ckeditor
      ul
        li This is ul-li listing
        li This is ul-li listing
        li This is ul-li listing
      ol
        li This is ol-li listing
        li This is ol-li listing
        li This is ol-li listing
  br
  br
  include ./components/_footer.pug